@media only screen and (min-width: 768px) {
  .m-50 {
    margin-top: -3rem !important;
    z-index: 100 !important;
    position: relative;
  }
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif !important;
}

a.link,
.color-principal {
  color: #17A2B8 !important;
}

.z-50 {
  position: relative;
  z-index: 50;
}

.link:hover {
  color: #12899B;
  text-decoration: none;
  font-weight: 400;
}

.box-shadow {
  background-color: white;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.bg-primary {
  background-color: #17A2B8 !important;
}

.btn-primary {
  background-color: #17A2B8 !important;
  border: 1px solid #17A2B8 !important;
  font-size: 1rem !important;
  transition: all 0.3s ease;
}

.btn-primary-alt {
  background-color: white !important;
  border: 1px solid white;
  color: #17A2B8;
  font-size: 1rem !important;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease;
}

.btn-primary-alt:hover {
  background-color: transparent !important;
  border: 1px solid white;
  color: white;
  font-size: 1rem !important;
}

.color-verde {
  color: #1BD622 !important;
}

.bg-secondary {
  background-color: #1BD622 !important;
}

.vh-100 {
  min-height: calc(100vh - 220px);
}

.btn-primary:hover {
  border: 1px solid #17A2B8;
}

.btn-success {
  background-color: #1BD622 !important;
}

.btn-claro {
  background-color: #4AC1DB !important;
  border: 1px solid #4AC1DB;
  color: white;
  transition: all 0.3s ease;
}

.btn-float {
  display: block;
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 100;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 60px;
  border: 1px solid;
  padding: 0 !important;
}

.btn-float i {
  line-height: 60px;
  font-size: calc(60px /3);
  color: white !important;
}

.btn-back {
  left: 60px;
}

.btn-claro:hover {
  /* background-color: #12899B !important; */
  border: 1px solid white;
  background-color: transparent !important;
  color: white;
}

.br-0 {
  border-radius: 0;
}

.sombra-0 {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.sombra {
  box-shadow: 1rem 1rem 160px 30px rgba(0, 0, 0, 0.5);
}

.sombra-2 {
  box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.sombra-nav {
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.img-fluid {
  width: 100% !important;
  height: auto !important;
}

.img-height {
  height: 100% !important;
  width: auto !important;
  background-position: center center;
  margin-left: -10%;
  overflow: hidden;
}

.btn-sm.btn-just-icon {
  font-size: 12px !important;
  line-height: 30px !important;
}

table .btn-just-icon {
  font-size: 12px !important;
  line-height: 30px !important;
}

@media print {
  .navbar,
  .btn,
  .navbar-responsive {
    display: none !important;
  }
}

.invalid-feedback {
  display: block !important;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #A2D0FF;
}

/*  CHAt */

.chat-contenedor {
  height: calc(100vh - 70px);
  overflow: hidden;
}

.chat-list {
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.07);
  position: relative;
  z-index: 100;
}

.chat-search {
  padding: 2rem 0;
  background-color: #fffff9;
}

.chat-item {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-bottom: 1px solid #dadade;
  transition: all 0.3s ease;
  cursor: pointer;
}

.chat-item:hover,
.chat-item .active {
  background-color: #f6f6f6;
}

.chat-item input[type=search] {
  border-bottom: 1px solid #17A2B8;
  padding: 1rem;
  width: 100%;
}

.chat-item .imagen-chat {
  max-width: 40px;
  max-height: 40px;
  overflow: hidden;
  border-radius: 100px;
}

.chat-item .imagen-chat img {
  height: 100% !important;
  width: auto;
}

.chat-item .texto {
  padding-left: 1rem;
}

.chat-item .fecha {
  float: right;
  font-size: 10px;
  color: #666;
  font-weight: bold;
  margin-left: 12px;
}

.chat-item .nombre {
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
}

.chat-item .mensaje {
  font-size: 11px;
}

.chat-individual {
  position: relative;
  height: 100%;
}

.chat-individual .chat-cabecera {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #dadade;
  z-index: 2;
}

.chat-individual .chat-contenido {
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 1;
  height: calc( 100% - 120px);
  width: 100%;
  overflow-y: auto;
}

.chat-individual .chat-entrada {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: #F5F5F5;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
}

.chat-individual .nombre {
  display: block;
  font-weight: bold;
  text-transform: capitalize;
}

.chat-individual .estado {
  position: relative;
  font-size: 10px;
  color: #1BD622;
  text-transform: uppercase;
}

.chat-individual .ver-mas {
  font-size: 12px;
  letter-spacing: 1px;
  color: #acc3e1;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem auto !important;
  cursor: pointer;
  margin: 2rem 1rem;
}

.chat-individual .mensaje {
  font-size: 16px;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  display: inline-block;
  max-width: 90%;
}

.chat-individual .mensaje-entrada {
  margin: 1rem;
}

.chat-individual .mensaje-entrada .mensaje {
  background-color: #17A2B8;
  color: white;
}

.chat-individual .mensaje-salida {
  margin: 1rem;
  text-align: right;
}

.chat-individual .mensaje-salida .mensaje {
  background-color: white !important;
}

.chat-individual .input-mensaje {
  width: calc(100% - 2rem);
  height: calc(100% - 1rem);
  background: white;
  border: 1px solid #D09FFF;
  margin: 0 auto;
}

.chat-individual .input-mensaje input {
  padding-left: 1rem;
  height: 100%;
}

.chat-individual .boton-mensaje {
  width: 3rem;
  padding: 1rem;
}

.chat-individual .boton-mensaje i {
  font-size: 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.chat-individual .boton-mensaje i:hover {
  color: #17A2B8;
}

footer.footer {
  background-color: #929BB4;
}

footer.footer a {
  color: white;
  text-decoration: none;
}

footer.footer li {
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

footer.footer li:hover {
  background-color: #17A2B8;
}

.card .card-cabecera {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  transform: translateY(-2rem);
  border-radius: 6px;
}

.card .card-cabecera-icono {
  text-align: center;
  margin-left: 1rem;
  border-radius: 0.2rem;
  width: 50px;
  height: 50px;
  text-align: center;
  display: block;
}

@media (min-width: 768px) {
  .card .card-cabecera-icono {
    width: 80px;
    height: 80px;
  }
}

.card .card-cabecera-icono i {
  font-size: 25px;
  color: white !important;
  line-height: 50px;
}

@media (min-width: 768px) {
  .card .card-cabecera-icono i {
    font-size: 40px;
    line-height: 80px;
  }
}

.card .card-encabezado {
  display: flex;
  align-items: flex-end;
  transform: translateY(-1rem);
  position: relative;
}

.card .card-encabezado .card-title {
  padding: 0px 1rem;
  font-weight: lighter;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
}

.login,
.register {
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

.icon-form {
  background-color: #17A2B8;
  width: 30px;
  height: 30px;
  border-radius: 0.2rem;
  text-align: center;
}

.icon-form i {
  color: white !important;
  line-height: 30px;
}

.icon-texto {
  padding-left: 1rem;
}

.admin-logo {
  padding: 1rem 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-responsive {
  position: relative;
  width: 0rem;
  height: 100vh;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-responsive-open {
  width: 260px !important;
}

.navbar-responsive-open .elementos .nav-link i {
  font-size: 24px;
}

.navbar-responsive-open .nav-item {
  margin: 5px 1rem !important;
  border-radius: 6px !important;
}

@media screen and (min-width: 992px) {
  .navbar-responsive {
    width: 3rem;
  }
}

.navbar-responsive .elementos .nav-link {
  color: white !important;
  padding-left: 1rem;
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.navbar-responsive .elementos .nav-link i {
  margin-right: 1rem;
  font-size: 14px;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.navbar-responsive .elementos .nav-item {
  margin: 5px 0rem;
  transition: all 0.3s ease;
  border-radius: 0px;
}

.navbar-responsive .elementos .nav-item.active {
  background-color: #1BD622;
}

.navbar-responsive .elementos .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.navbar-responsive .navbar-responsive-base {
  background-color: rgba(22, 162, 200, 0.7);
  width: 260px;
  height: 100vh !important;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  z-index: 2;
}

.navbar-responsive ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#button-menu {
  position: relative;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.button-menu-disabled {
  transform: translateX(260px);
}

.main-admin {
  position: relative;
  width: calc( 100%);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  overflow-y: scroll;
  height: 100vh;
}

.main-admin-open {
  width: calc( 100% - 260px) !important;
}

@media screen and (min-width: 992px) {
  .main-admin {
    width: calc( 100% - 1rem);
  }
}

.main-admin .navbar {
  padding: 5px 1rem !important;
  position: relative;
  z-index: 1000;
}

.main-admin .navbar a.nav-link {
  color: #17A2B8 !important;
}

.nav-item-button {
  border-radius: 0px;
}

.nav-item:hover a.link,
.nav-item:hover a.link:hover,
.nav-item .nav-item-button a.link,
.nav-item .nav-item-button a.link:hover {
  color: #17A2B8 !important;
}

.nav-item:hover:hover,
.nav-item .nav-item-button:hover {
  background-color: transparent !important;
}

.dashboard {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.dropdown-menu.dropdown-menu-right i {
  margin-right: 0.3rem;
}

.dropdown-menu.dropdown-menu-right.show {
  height: auto !important;
  overflow-y: auto !important;
}

@media screen and (max-width: 991px) {
  .navbar-collapse:after {
    background-color: #fcfcfc !important;
    box-shadow: 0px 0px 15px 0px rgba(33, 0, 100, 0.2);
    border-radius: 0px;
  }
}

#button-dashboard i {
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  color: #17A2B8 !important;
}

.button-dashboard-open i {
  transform: rotate(180deg);
}

.dropdown-perfil {
  order: -1;
  border-radius: 0px !important;
}

@media screen and (min-width: 992px) {
  .dropdown-perfil {
    order: 1;
    border-radius: 0.25rem !important;
  }
}

.dropdown-perfil .profile-photo-small {
  width: 100px !important;
  height: 100px !important;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .dropdown-perfil .profile-photo-small {
    width: 50px !important;
    height: 50px !important;
    overflow: hidden;
  }
}

.dropdown-perfil .dropdown-toggle:after {
  display: none;
}

@media screen and (min-width: 992px) {
  .dropdown-perfil .dropdown-toggle {
    padding: 0 !important;
  }
}

.notification-item {
  padding: 5px 10px !important;
}

.notification-item h6 {
  margin: 0;
  font-size: 16px;
  letter-spacing: 1px;
}

.dropdown .dropdown-menu .dropdown-item {
  color: #17A2B8;
  transition: all 0.2s ease;
}

@media screen and (min-width: 992px) {
  .dropdown .dropdown-menu .dropdown-item {
    color: white;
  }
}

.dropdown .dropdown-menu .dropdown-item:hover {
  color: white !important;
  background-color: #1BD622;
}

.map-page iframe {
  /* width: 100% !important; */
  width: 100vw !important;
  border: 0;
  height: 100vh !important;
}

.navegacion {
  background-color: #17A2B8 !important;
}

.navegacion img {
  height: 100%;
  width: auto;
}

.navegacion a.nav-link {
  color: #17A2B8 !important;
}

@media screen and (min-width: 992px) {
  .navegacion a.nav-link {
    color: white !important;
  }
}

.navegacion .nav-item {
  transition: all 0.3s ease;
}

.navegacion .nav-item:hover {
  background-color: #4AC1DB;
  border-radius: 4px;
  cursor: pointer;
}

.navegacion .nav-item:hover a.link,
.navegacion .nav-item:hover .dropdown-item {
  color: white !important;
}

.main-admin .nav-item:hover {
  background-color: white !important;
  border-radius: 0;
}

.dropdown .dropdown-menu {
  background-color: #12899B;
}

.iconos-caracteristicas2 i {
  font-size: 3rem !important;
}

.iconos-caracteristicas2 .mb-5 {
  transition: all 0.3s ease;
}

.iconos-caracteristicas2 .mb-5:hover {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 100, 200, 0.2);
  transform: translateY(-10px);
}

.iconos-caracteristicas h3 {
  color: #17A2B8;
}

.iconos-caracteristicas i {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #17A2B8;
}

.iconos-caracteristicas .modulo {
  background-color: white !important;
  border: none;
  border-radius: 0.5rem;
  margin: 0.25rem;
  min-height: 250px;
  padding: 2rem;
  transition: all 0.3s ease;
  font-size: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.iconos-caracteristicas .modulo:hover {
  transform: scale(1.05);
  transform: translateY(-10px);
  box-shadow: 0px 0px 50px -10px #A2D0FF;
}

.col-foto {
  background-size: cover;
  min-height: 500px;
  height: 100%;
  padding: 0 !important;
  overflow: hidden;
}

.col-foto-cambiar {
  order: -1;
}

@media screen and (min-width: 768px) {
  .col-foto-cambiar {
    order: unset;
  }
}

form .form-group {
  margin-top: 0;
  padding-left: 6px;
}

form .form-inline {
  width: 100% !important;
}

form .form-inline .form-group {
  width: calc(100% - 30px) !important;
}

form .form-inline input,
form .form-inline textarea {
  width: 100% !important;
}

form .icon-form {
  width: 30px;
}

.formulario-blanco label,
.formulario-blanco input,
.formulario-blanco textarea {
  color: white !important;
}

.caja-contador {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  position: relative;
}

.caja-contador h3 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0;
  color: #17A2B8;
}

.caja-contador p {
  color: #666;
}

.caja-contador-icono {
  position: relative;
  margin-left: 1rem;
  margin-top: -1rem;
  display: inline;
  min-width: 80px;
  height: 80px;
  background-color: #17A2B8;
  text-align: center;
  border-radius: 0.2rem;
  box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.caja-contador-icono i {
  line-height: 80px;
  font-size: 25px;
  color: white !important;
}

.sin-datos i {
  font-size: 100px;
  color: #17A2B8;
}

.stars {
  color: #17A2B8;
}

.click-star {
  color: mediumseagreen;
  font-size: 24px;
  cursor: pointer;
}

.card-profile h5 a {
  color: white !important;
}

.cabecera-inicio,
.cabecera {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  position: relative;
}

.cabecera-inicio {
  height: 50vh;
}

.cabecera-30h {
  min-height: 250px;
}

.contenedor-titulo {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.contenedor-titulo + .container {
  color: white;
  position: relative;
  z-index: 3;
}

.paso {
  display: none;
}

.select2[name=patient_dni] + span .select2-results__options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.select2[name=patient_dni] + span .select2-results__options li {
  width: 25%;
}

.avance {
  position: absolute;
  height: 10px;
  width: 0%;
  left: 0;
  top: 0;
  background: #00bbd3;
  transition: all 0.3s ease;
  /* box-shadow: 2px 2px 30px -11px rgb(0 0 0 / 50%); */
}

.fondo {
  width: 100%;
  background: #f3f3f3;
  height: 10px;
  border-bottom: 1px solod #eaeaeb;
  position: relative;
  /* box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 10%); */
}

.fondo .circulo {
  background: #f3f3f3;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  display: inline-block;
  border-radius: 100px;
  justify-content: center;
  color: #00bbd3;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;
}

.fondo .tag {
  top: -10px;
  position: absolute;
  text-align: center;
}

.fondo .circulo.completo {
  background: #00bbd3;
  color: white;
}

.card.selected {
  border: 5px solid #a2d0ff;
  border-radius: 1rem;
  overflow: hidden;
}

.paso h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #17a2b8;
}

/* header search*/

.header-search .form-group {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.header-search input[type=text] {
  background-color: #fff;
  border-radius: 4px 0px 0px 4px;
  height: 41px;
  padding-left: 1rem;
  font-size: 1.2rem;
  width: calc(100% - 45px);
}

.header-search button {
  background-color: #fff;
  color: #17A2B8;
  font-size: 1.2rem;
  margin: 0;
  border-radius: 0px 4px 4px 0px;
}

.header-search button:hover {
  background-color: #17A2B8;
  color: white;
  font-size: 1.2rem;
  margin: 0;
  border-radius: 0px 4px 4px 0px;
}

.search-engine {
  padding: 1rem;
}

.search-list {
  position: absolute;
  background: white;
  max-height: 90vh;
  overflow-y: scroll;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.3);
  /*opacity:0; */
  /*filter:alpha(opacity=0); */
  min-width: 270px;
  margin-top: -100vh;
}

@media screen and (max-width: 991px) {
  .search-list {
    position: relative;
    max-height: 200px;
  }
}

.search-engine:hover .search-list,
.dropdown:hover .search-list {
  opacity: 1;
  filter: alpha(opacity=1);
  margin-top: 0px !important;
}

.like {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #17A2B8;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 1rem;
}

.like i {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.like i.fas {
  color: #C9302C !important;
}

.comment .comment-imagen-profile img {
  width: auto !important;
  height: 100% !important;
}

.comment .comment-imagen-profile {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  overflow: hidden;
}

.datepicker2,
.datepicker,
.timepicker {
  background-color: white !important;
}

.picker__select--month,
.picker__select--year {
  height: auto !important;
}

.picker--time .picker__button--clear:focus,
.picker--time .picker__button--clear:hover {
  background: #1BD622 !important;
  border-color: none !important;
}

.picker--focused .picker__list-item--selected,
.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__day--selected,
.picker__day--selected,
.picker__day--selected:hover {
  background-color: #17A2B8 !important;
}

.picker__list-item:hover {
  background-color: #A2D0FF !important;
}

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.fc-day {
  background-color: white;
}

.fc-day-top {
  float: center;
}

.fc-day-header {
  background-color: white;
}

.fc-button-primary {
  color: #fff;
  background-color: #4AC1DB !important;
  border-color: #f5f5f5 !important;
}

.fc-button-primary:focus {
  color: #fff;
  background-color: #12899B !important;
  border-color: none !important;
  box-shadow: none !important;
}

.fc-left h2 {
  color: #17A2B8;
  text-transform: capitalize;
}

.fc-today {
  background-color: rgba(0, 0, 255, 0.02) !important;
}

.fc-event {
  color: white !important;
  background-color: #1BD622 !important;
  border: none !important;
  padding: 0.25rem !important;
}

.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-container .select2-selection.select2-selection--single {
  border: 0 !important;
  border-radius: 0px;
  border-bottom: 1px solid #d2d2d2 !important;
}

